<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Lead In</h1>
    <p>There's a new lead for one of your ads.  Go set them up with an MLS listing!</p>
  </body>
</html>
