
.navbar.navbar-default.navbar-static-top{
    background-color: #ffffff;
    border-color: #ffffff;
}
#lead_form{
    background-image: asset-url('skyrise.jpg');
    min-height: 400px;
    padding-top: 100px;
    padding-right: 40px;
}
#logo{
    float: left;
}
#logo img{
    width:100px;
    height:auto;
}